h1 {
  text-align: center;
}

#grid {
  overflow: hidden;
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 25%;
}

.ghost {
  background-color: gray;
  border-radius: 25%;
}

#scoreBoard {
  width: 150px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

.food {
  animation-name: food;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-fill-mode: red;
  background-color: red;
  border-radius: 50%;
}

@keyframes food {
  from {
    box-shadow: 0px 0px 1px 1px red; 
  }
  to {
    box-shadow: 0px 0px 3px 3px red;
  }
}

.gameOver {
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}